{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Agenda de tous les événements</h1>
        <br>
        <hr>
        <!-- Affichage des evenements a venir -->
        <div class="row">
            <br>
            {% if lesEvenements %}
                {% for event in lesEvenements %}
                    <div class="card shadow-sm col-md-6">
                        <h5 class="text-center">Du
                            <span>
                                {{ event.getDateDebutEvent()|localizeddate('long', 'short') }}</span>
                            au
                            <span>
                                {{ event.getDateFinEvent()|localizeddate('long', 'short') }}</span>
                        </h5>
                        <hr>
                        <h2>{{ event.getTitre() }}</h2>
                        <p>{{ event.getDescription() }}</p>
                        <p>
                            <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Il n'y a aucun événement à afficher !</p>
            {% endif %}

        </div>
    </div>
    <!-- /container -->
</div>{% endblock %}
