{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!
{% endblock %}

{% block body %}

    <div>
        <h1>Agenda des événements✅</h1>
        <br>
        {% if properties %}

            <div class="container">
                {% for event in properties %}
                    <article  class="border border-primary rounded">
                        <p>{{ event.getTitre() }}</p>
                        <div>{{ event.getDescription() }}</div>
                        <div>{{ event.getCorps() }}</div>
                    </article>
                    <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a aucun événement à afficher !</p>
    {% endif %}

</div>{% endblock %}
