/* Require fonts */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
/*@import '@fortawesome/fontawesome-free/js/all.js';*/

/*------------------------------------*/

body {
    background-color: lightgray;
}

.bg-header {
    /* The image used */
    background-image: url("../images/home/Saint-Hilaire-du-Harcouet-sm.jpg");
    height: 75vh;
    min-height: 600px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Change slick-carousel arrows color */
.slick-prev:before,
.slick-next:before {
    color: maroon;
}

.adjusted .slick-arrow:before {
    font-family: initial !important;
    color: maroon;
}