{# templates/base.html.twig #}
<!DOCTYPE html>
<html>

    <head>
        <!--    Required meta tags  -->
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body>

        <header>
            {{ include('include/navbar.html.twig') }}
        </header>

        <main role="main">
            {% block body %}{% endblock %}
        </main>

        <hr>
        <footer class="d-flex flex-column flex-md-column text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Venir ici</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Informations d'accès</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Termes &amp; Condition</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Politique de confidentialité</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Nous contacter !</a>
                </li>
            </ul>
            <p><br>&copy;
                {{ 'now'|date('Y') }}
                - Tous droits réservés - Walnut Grove</p>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>

</html>
