{% extends 'base.html.twig' %}

{% block title %}History page
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">The name of this page is :
            {{ current_menu }}! ✅</h1>
        <br>
        <hr>
    </div>
{% endblock %}
