{% extends 'base.html.twig' %}

{% block title %}MainWebsiteController
{% endblock %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bonjour et bienvenue</h1>
        <p>Cillum cupidatat veniam anim exercitation nulla ad exercitation ut ea reprehenderit deserunt. Ex labore
            ullamco labore exercitation amet reprehenderit aliqua. Cupidatat eu laborum proident magna labore Lorem
            dolore. Id magna duis duis duis enim magna irure dolor sint. Aute eiusmod non proident reprehenderit
            proident culpa aute in eu non ut commodo. Ad consequat id sit voluptate exercitation.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ path('history') }}" role=" button">Learn more &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <h1 class="text-center">Calendar of upcoming events</h1>
    <br>
    <hr>
    <!-- Affichage des Events a venir -->
    <div class="row">
        {% if nextEvent %}
        {% for event in nextEvent %}
        {{ include('include/event.html.twig') }}
        {% endfor %}
        {% else %}
        <p>There are no events to display !</p>
        {% endif %}

    </div>
</div>
<!-- /container -->

</div>{% endblock %}