{% extends 'base.html.twig' %}

{% block title %}Hello MainWebsiteController!
{% endblock %}

{% block body %}

    <div>
        <h1>Agenda des événementsà venir✅</h1>
        <br>
        {% if prochain_evenement %}
        
            <div class="container">
                {% for event in prochain_evenement %}

                    <article class="border border-primary rounded">
                        <p>{{ event.getTitre() }}</p>
                        <div>{{ event.getDescription() }}</div>
                        <div>{{ event.getCorps() }}</div>
                    </article>
                    <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a aucun événement à afficher !</p>
    {% endif %}
</div>{% endblock %}
