{% extends 'base.html.twig' %}

{% block title %}Modifier un événement
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endfor %}

    <div class="container mt-4">
        <h1>Modification de l'événement</h1>
        <br>
        {{ include('admin/evenement/_form.html.twig', { form: form, button: 'Editer' }) }}
    </div>
{% endblock %}
