{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
    <div>
        <h1>Page admin des événements✅</h1>
        <br>
        {% if properties %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de l'événement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in properties %}

                        <tr>
                            <td>{{ event.getTitre() }}</td>
                            <td>
                                <a class="btn btn-dark" href="">Modifier</a>
                                <a class="btn btn-dark" href="">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Il n'y a aucun événement à afficher !</p>
        {% endif %}
    </div>
{% endblock %}
