{% extends 'base.html.twig' %}

{% block title %}Gestion des événements
{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1>Gestion des événéménts</h1>
        <br>
        {% if lesEvenements %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de l'événement</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in lesEvenements %}

                        <tr>
                            <td>{{ event.titre() }}</td>
                            <td>
                                <a class="btn btn-dark" href="{{ path('admin.evenement.edit', {id: event.idEvent}) }}">Modifier</a>
                                <a class="btn btn-dark" href="">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Il n'y a aucun événement à afficher !</p>
        {% endif %}
        <div class="text-right">
            <a class="btn btn-primary" href="{{ path('admin.evenement.create') }}">Créer un événement</a>
        </div>
    </div>
{% endblock %}
