{% extends 'base.html.twig' %}

{% block title %}EventController!
{% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container mt-4">
    <!-- Page Heading -->
    <h1 class="my-4 text-center">Calendar of all events</h1>
    <br>
    <hr>
    <!-- Affichage de tous les Events -->
    <!-- row -->
    <div class="row">
        {% if theEvents %}
        {% for event in theEvents %}
        {{ include('include/event.html.twig') }}
        {% endfor %}
        {% else %}
        <p>There are no events to display !</p>
        {% endif %}
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
    <!-- /.Pagination -->
</div>
<!-- /container -->


{% endblock %}