{% extends 'base.html.twig' %}

{% block title %}Detail of an event
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">{{myEvent.gettitle}}</h1>
    <h6 class="card-title text-center">from
        <b>
            {{ myEvent.startDateEvent|localizeddate('long', 'short') }}</b>
        to
        <b>
            {{ myEvent.endDateEvent|localizeddate('long', 'short') }}</b>
    </h6>
    <br>
    <div class="row">
        <!--    div pour afficher des images    -->
        <div class="col-md-7"></div>
        <!--    div pour le texte   -->
        <div class="col-md-5">
            <h3>{{ myEvent.body }}</h3>
        </div>
    </div>
</div>
{% endblock %}